           body,
           html,
           #container {
               width: 100%;
               height: 100%;
               margin: 0px;
           }

           #MessageBox {
               /*background-color: #fff;*/
               /*padding-right: 10px;*/
               /*padding-left: 10px;*/
               width: 100%;
               position: absolute;
               font-size: 30px;
               left: 5px;
               top: 5px;
               /*border-radius: 3px;*/
               /*border: 1px solid #ccc;*/
               /*line-height: 30px;*/
           }

           #MessageBox2 {
               position: absolute;
               font-size: 28px;
               left: 5px;
               top: 5px;

           }

           /*.i-search{
           padding-left: 35px;
           width: 320px;
           border:2px solid;
             border-radius:25px;
             background: linear-gradient(180deg,rgba(0,130,220,0),rgba(0,130,220,1));
             box-shadow: 0px 5px 5px #888888;
             font-family: "¿¬Ìå";
}            
           */

           }

           input::-webkit-input-placeholder {
               /* placeholderÑÕÉ«  */
               color: #737373;
           }          
           /*.search-icon{
             position: absolute;
             left: 330px;
             top: 5px;
             }
            #word{
    position: absolute;
    z-index: 99;
    width: 320px;
    height: auto;
    background-color: white;
    border: black solid 1px;
    display: none;
    box-shadow: 0 0 1px #888888;
    border-left:0px;border-top:0px;border-right:0px;border-bottom:1px;
        font-family: "ËÎÌå";
  }*/
           #icon_m {
               position: absolute;
               font-size: 20px;
               top: 9px;
               left: 9px;
           }

           #makesignup {
               position: absolute;
               font-size: 15px;
               bottom: 0px;
               right: 0px;
           }
           .click_work.work{
               display:block;
           }
           .click_work{
               position: relative;
               display:none;
               background-color: #FFFFFF;
               left:17px; 
               top:1px;
               font-size: 18px;
               width:260px;
               cursor:pointer;
               box-shadow:0 0 1px #DCE3E6;
           }
           .result{
            display:none;
           }
           .result.work{
            display: block;
            padding: 4px;
           }
           .result.work.point{
            background-color: #C5C5C5; 
           }